<div class="md:border-b-2 md:border-b-gray-600 not-md:border-2 not-md:border-gray-600 flex flex-col h-auto w-full p-4 md:flex-row font-body">
  <div>
    <span class="md:hidden">Expéditeur</span>
    <span>{{ expediteur }}</span>
  </div>
  <div>
    <span class="md:hidden">Objet</span>
    <span>{{ objet }}</span>
  </div>
  <div>
    <span class="md:hidden">Date & heure</span>
    <span>{{ date }}</span>
  </div>
  <div>
    <span class="md:hidden">Résumé :</span>
    <span>{{ resume }}</span>
  </div>
</div>
